.chats-statusbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.chats-statusbar__coulmn {
  width: 33%;
}

.chats-statusbar__coulmn:first-child {
  justify-content: flex-start;
}


.chats-statusbar__coulmn:nth-child(2) {
  display: flex;
  justify-content: center;
}

.chats-statusbar__coulmn:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.chats-statusbar__coulmn .fa-lock {
  margin-right: 10px;
}

.chats-statusbar__coulmn span {
  margin-right: 5px;
}

.chats-statusbar__coulmn .fa-bolt-lightning {
  margin-left: 6px;
}

.chats-header {
  display: flex;
  padding: 0 25px;
  margin: 25px 0;
  justify-content: space-between;
  align-items: center;
}

.chats-header__title {
  font-size: 30px;
  font-weight: 600;
}

.chats-header__column i {
  margin: 0 10px;
}

.chats-link {
  padding: 10px 0;
  background-color: #D5D5D5;
  text-align: center;
  position: relative;
  border-radius: 15px;
}

.chats-link .fa-angle-right {
  position: absolute;
  right: 135px;
}

.chats-link .fa-circle-info {
  position: absolute;
  left: 139px;
}

.chats-link a {
  text-decoration: none;
  color: inherit;
}

.chats-main {
  padding: 0 25px;
}

.chats-main__box {
  display: flex;
  justify-content: space-between;
}

.chat-main__box-column {
  display: flex;
  align-items: center;
}

.chat-main__box-column img {
  width: 70px;
  height: 70px;
}

.chats-main__text-user__name {
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 10px;
}

.chats-main__text-user__description {
  font-size: 15px;
  font-weight: 500;
  opacity: .6;
}

.chats-main__box-column:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chats-main__box-column__time {
  font-size: 14px;
  opacity: .6;
  margin-bottom: 10px;
}

.chats-main__box-column__red {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  color: white;
}














.chats-navbar {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 20px 0;
  background-color: #F9F9FA;
}

.chats-navbar__links {
  display: flex;
  justify-content: space-around;
}

.chats-navbar a {
  position: relative;
}

.chats-navbar__links-btn-red {
  position: absolute;
  top: -16px;
  right: -6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  color: white;
}

.chats-navbar__links-btn-dot {
  background-color: red;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  position: absolute;
  top: -10px;
  right: -4px;
}